:root{
    --color-primary-dark: #011C44;
    --color-brand-light: #2B7FFF;
    --color-primary-light: #FFFFFF;
}

/*Base*/
body{
    color: var(--color-primary-dark);
}

ul{
    list-style-type:none ;
}

/*Button*/
.button {
color: var(--color-primary-light);
background-color: var(--color-brand-light);
border: 2px ;
border-radius:  32px;
cursor: pointer;
}
 
.button:hover{
    color: var(--color-brand-light)
    background-color: transparent;
}

/*Link*/
.link{
    color: var(--color-primary-dark)
}

.link:hover{
    color: var(--color-brand-light)
}

/*Hero-section*/
.hero-title{
    color: var(--color-brand-light)
}

.accent{
    color: var(--color-brand-light)
}


.link-list{
    color: var(--color-primary-light)
}

.address-link{
    color: var(--color-primary-light)
}

.address-copyright{
 color: #747272;
}

.section-title{
    color: var(--color-primary-dark)
}

/*Footer-section*/
.footer-list {
    background: var(--color-primary-dark)
}